.filterMenuContainer {
    position: relative;
}

button {
    cursor: pointer;
}

.filterModal {
    position: absolute;
    top: 100%;
    width: 10vw; /* Adjust width as necessary */
    max-width: 400px;
    border: 5px solid black;
    border-radius: 16px;
    background-color: #fff;
    z-index: 1000; /* Ensure the modal is above other elements */
    padding: 10px;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}