.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-title {
  margin-bottom: 8px;
}

.login-form {
  width: 100%;
}

.login-btn {
  margin-bottom: 16px;
  margin-top: 24px;
  background-color: #001f3f;
  transition: background-color 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: #001022;
}

.register-link-box {
  margin-top: 16px;
  text-align: center;
}

.register-link-text {
  cursor: pointer;
}
