node_modules/
coverage/
html/
dist/
frontend/__tests__/pages/HomePage/__snapshots__/
frontend/__tests__/pages/RegisterPage/__snapshots__/
frontend/__tests__/pages/LoginPage/__snapshots__/
users.json
frontend/package-lock.json
backend/docs/
backend/node_modules/
backend/package-lock.json


.vscode/

# MacOS
.DS_Store

# Node js
npm-debug.log

.env
