node_modules/
coverage/
html/
dist/
__tests__/__snapshots__/
__tests__/HomePage/__snapshots__/
__tests__/NotFound/__snapshots__/
__tests__/ProfilePage/__snapshots__/

.vscode/

# MacOS
.DS_Store

# Node js
npm-debug.log
