node_modules/
yarn.lock
coverage/
html/
dist/
frontend/__tests__/pages/HomePage/__snapshots__/
frontend/__tests__/pages/RegisterPage/__snapshots__/
frontend/__tests__/pages/LoginPage/__snapshots__/
frontend/__tests__/pages/ProfilePage/__snapshots__/
frontend/__tests__/pages/LibraryPage/__snapshots__/
frontend/__tests__/pages/MyLibraryPage/__snapshots__/
frontend/__tests__/pages/MoviePage/__snapshots__/
users.json
backend/node_modules/


.vscode/

# MacOS
.DS_Store

# Node js
npm-debug.log

.env
