.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.register-title {
  color: white;
  size: 30px;
}

.register-form {
  width: 100%;
  margin-top: 10px;
}

.register-btn {
  margin-bottom: 16px;
  margin-top: 24px;
  background-color: #001f3f;
  transition: background-color 0.3s ease-in-out;
}

.register-btn:hover {
  background-color: #001022;
}

.login-link-box {
  margin-top: 16px;
  text-align: center;
}

.login-link-text {
  color: white;
}
