.footerOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-us-container {
  background-color: #5279a3;
  border-radius: 32px;
  height: 35vh;
  overflow: hidden;
  width: 60%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.join-us-container .div {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 407px;
  position: relative;
  top: 78px;
}

.join-us-container .text-wrapper {
  color: #f5f5f5;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.join-us-container .text-wrapper-2 {
  color: #f5f5f5;
  font-family: "Gotham SSm-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  margin-bottom: 10px;
}

.join-us-container .div-wrapper,
.join-now-button {
  align-items: center;
  background: linear-gradient(
    101deg,
    #5279a3 -64.72%,
    #a8cdf5 -1.54%,
    #4cd3cb 52.11%,
    #3ddcd2 96.22%,
    #0dbeb4 154.63%
  );
  background-color: rgba(255, 255, 255, 1);
  border-radius: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  position: relative;
  border: none;
  cursor: pointer;
}

.join-now-button-text {
  background: none;
  border: none;
  color: #f5f5f5;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  cursor: pointer;
  outline: none;
  padding: 0;
}

@media screen and (max-width: 830px) {
  .join-us-container .text-wrapper {
    font-size: 2.5em;
  }

  .join-us-container .text-wrapper-2 {
    text-wrap: wrap;
    white-space: normal;
    display: flex;
    justify-self: center;
    text-align: center;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
