.library-container {
  border: 1px solid;
  border-color: #0a0a0a;
  border-radius: 24px;
  height: 384px;
  overflow: hidden;
  width: 421px;
}

.library-container .div {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  left: 136px;
  position: relative;
  top: 110px;
}

.library-container .text-wrapper {
  color: #0a0a0a;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.library-container .vuesax-linear {
  height: 128px !important;
  position: relative !important;
  width: 128px !important;
}

.library-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.populated-library-image {
  height: 80%;
  width: 90%;
  border-radius: 24px;
  margin-bottom: 4%;
}

.populated-library-text {
  font-size: 30px;
  margin-bottom: 10px;
  color: black;
  text-decoration: underline white;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.populated-mylibrary-container {
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #000000;
  border-radius: 24px;
  height: 384px;
  overflow: hidden;
  position: relative;
  width: 421px;
  display: flex;
  justify-content: center;
}

.populated-mylibrary-container .text-wrapper {
  color: #0a0a0a;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  max-width: 300px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.populated-mylibrary-container .div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 18px;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 60px);
}

.populated-mylibrary-container .rectangle {
  height: 145px;
  object-fit: cover;
  position: relative;
  width: 160px;
  border-radius: 8px;
}

.populated-mylibrary-container .group {
  height: 128px;
  margin-right: -2px;
  position: relative;
  width: 146px;
}

.populated-mylibrary-container .overlap-group {
  background-image: url(../../../static/img/rectangle-9.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 128px;
  position: relative;
  width: 144px;
}

.populated-mylibrary-container .text-wrapper-2 {
  color: #ffffff;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
}

.empty-mylibrary-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

.empty-mylibrary-container .empty-library-text {
  color: black;
  text-decoration: underline white;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  bottom: 140px;
  position: absolute;
  width: 300px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.empty-mylibrary-container .empty-library-image {
  height: 128px;
  width: 176.6px;
  mix-blend-mode: darken;
  object-fit: cover;
  position: relative;
}

/* Media query level 1================================================================================================================ */

@media screen and (max-width: 768px) {
  .library-container {
    width: 360px;
  }

  .library-content-container {
    width: 360px;
  }

  .populated-mylibrary-container {
    width: 360px;
  }

  .populated-mylibrary-container .div {
    top: 50px;
    left: 51%;
    width: calc(100% - 20px);
    grid-gap: 10px;
  }

  .populated-mylibrary-container .rectangle {
    width: 140px;
    height: 130px;
  }

  .empty-mylibrary-container {
    width: 360px;
  }
}

/* Media query level 2================================================================================================================ */

@media screen and (max-width: 400px) {
  .library-container {
    width: 340px;
  }

  .library-content-container {
    width: 340px;
  }

  .populated-mylibrary-container {
    width: 340px;
  }

  .populated-mylibrary-container .rectangle {
    width: 140px;
    height: 130px;
  }

  .populated-mylibrary-container .div {
    top: 50px;
    left: 50%;
    width: calc(100% - 5px);
    grid-gap: 10px;
  }
}
