.MyLibrariesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 6%;
}

.favorites-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 24px;
  height: 384px;
  overflow: hidden;
  width: 421px;
}

.favorites-container .div {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
}

.favorites-container .big.star {
  height: 248.74px;
  position: absolute;
  width: 261.54px;
}

.favorites-container .text-wrapper {
  color: #0a0a0a;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: fit-content;
  text-decoration: none;
  bottom: -40px;
}

.add-new-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #0a0a0a;
  border-radius: 24px;
  height: 384px;
  overflow: hidden;
  width: 421px;
  background: transparent;
  cursor: pointer;
}

.add-new-container .div {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.add-new-container .text-wrapper {
  color: #0a0a0a;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.add-new-container .vuesax-linear {
  height: 128px !important;
  position: relative !important;
  width: 128px !important;
}

@media screen and (max-width: 768px) {
  .MyLibrariesGrid {
    max-width: 90vw;
    padding-right: 1%;
  }

  .favorites-container {
    width: 360px;
  }

  .add-new-button {
    width: 360px;
  }
}

@media screen and (max-width: 400px) {
  .MyLibrariesGrid {
    max-width: 95vw;
    padding-left: 16%;
  }

  .favorites-container {
    width: 340px;
  }

  .add-new-button {
    width: 340px;
  }
}
