@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.app-bar {
  width: 100vw;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
}

.movie-brand {
  font-family: "Roboto, sans-serif";
  text-decoration: none;
  color: inherit;
}
