/* /* .MovieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; 
  height: 400px; 
  border: 5px solid white;
  border-radius: 30px;
  box-sizing: border-box;
  text-align: center;
  background-color: #001f3f;
  color: white;
  font-family: "GothicSSM", sans-serif;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.7);
}

.ImageContainer {
  padding-top: 5%;
  width: 200px;
  height: 270px;
  object-fit: contain;
}

h3 {
  margin: 0.8rem;
}

h4 {
  margin: 0;
} 
*/
.frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.frame .rectangle {
  height: 355px;
  object-fit: cover;
  position: relative;
  width: 265px;
  border-radius: 30px;
}

.frame .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.frame .text-wrapper {
  color: #0a0a0a;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 140px;
}

.frame .button {
  all: unset;
  align-items: center;
  background-color: #79b5f5;
  border-radius: 56px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 4px 16px;
  /* margin-left: 10px; */
  position: relative;
}

.frame .text-wrapper-2 {
  color: #f5f5f5;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.frame .icon-instance {
  height: 14px !important;
  position: relative !important;
  width: 14px !important;
}

.frame .text-wrapper-3 {
  color: #b6b6b6;
  font-family: "Gotham SSm-Light", Helvetica;
  font-size: 8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.frame .vuesax-linear-heart {
  height: 24px !important;
  left: 16px !important;
  position: absolute !important;
  top: 16px !important;
  width: 24px !important;
}

@font-face {
  font-family: "GothicSSM";
  src: url("../../fonts/GothicSSM.otf");
  font-weight: normal;
  font-style: normal;
}
