.movie-container {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  min-height: 450px;
  height: 450px;
  max-height: 450px;
  transition: transform 0.18s ease-in-out;
}

.movie-container:hover {
  transform: scale(1.07);
}

.movie-container .rectangle {
  min-height: 400px;
  height: 400px;
  max-height: 400px;
  object-fit: resize;
  position: relative;
  width: 265px;
  border-radius: 30px;
  border: 1px solid black;
}

.movie-container .rectangle:hover {
  border: 3px solid rgb(9, 113, 166);
}

.movie-container .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.movie-container .text-wrapper {
  color: #0a0a0a;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 140px;
  height: fit-content;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.movie-container .no-poster-text {
  color: #f5f5f5;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  align-self: center;
  justify-self: center;
  white-space: nowrap;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movie-container .button {
  all: unset;
  align-items: center;
  background-color: #79b5f5;
  border-radius: 56px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 4px 16px;
  position: relative;
}

.movie-container .text-wrapper-2 {
  color: #f5f5f5;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.movie-container .icon-instance {
  height: 14px !important;
  position: relative !important;
  width: 14px !important;
}

.movie-container .text-wrapper-3 {
  color: #adaaaa;
  font-family: "Gotham SSm-Light", Helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.movie-container .heart-container {
  height: 24px !important;
  left: 16px !important;
  position: absolute !important;
  top: 16px !important;
  width: 24px !important;
}
