body, html {
  background-color: #d1e8e2;
  margin: 0; /* Removes default margins */
  height: 100%; /* Ensures that html and body cover the full viewport height */
  width: 100%; /* Ensures that html and body cover the full viewport width */
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  background-color: #d1e8e2;
  min-height: 100%;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  /* background-color: blue; */
}

.sortMenuContainer {
  /* background-color: red; */
}

.noMatchesText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #3d405b;
  text-align: center;
  /* background-color: red; */
}
