body,
html {
  /* background-color: #d1e8e2; */
  margin: 0; /* Removes default margins */
  height: 100%; /* Ensures that html and body cover the full viewport height */
  width: 100%; /* Ensures that html and body cover the full viewport width */
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  /* background-color: #d1e8e2; */
  min-height: 100%;
  /* min-width: 100%; */
}

.headerContainer {
}

.footerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  /* background-color: red; */
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  /* background-color: red; */
  min-height: 100%;
  /* min-width: 100%; */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5px; */
  /* background-color: red; */
}

.paginationContainer {
}

.spacer {
  flex-grow: 1.6;
}

.spacer-2 {
  flex-grow: 1
}

.paginationAndSortContainer {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.sortMenuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-top: 30px; */
  padding-right: 8%;
  margin-left: auto;
  /* background-color: red; */
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: green; */
}



.gridContainer {
  padding-top: 10px;
  /* background-color: blue; */
}

.noMatchesText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #3d405b;
  text-align: center;
  /* background-color: red; */
}
