body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100vw;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  min-height: 100%;
}

.footerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  max-width: 100vw;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  min-height: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationContainer {
}

.spacer {
  flex-grow: 1.6;
}

.spacer-2 {
  flex-grow: 1;
}

.paginationAndSortContainer {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.sortMenuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8%;
  margin-left: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gridContainer {
  padding-top: 10px;
}

.noMatchesText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #3d405b;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .paginationAndSortContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .sortMenuContainer {
    justify-content: center;
    padding-right: 0;
    margin-left: 0;
    padding-top: 10px;
  }
}
