body, html {
  /* background-color: #d1e8e2; */
  margin: 0; /* Removes default margins */
  height: 100%; /* Ensures that html and body cover the full viewport height */
  width: 100%; /* Ensures that html and body cover the full viewport width */
}

.myLibraryPageContainer {
  /* background-color: #d1e8e2; */
}

.mylibraryTop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleText {
  font-family: "Roboto", sans-serif;
  font-size: 2.2em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createLibraryButton {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .mylibraryTop {
    flex-direction: column; /* stacks children vertically */
    align-items: center; /* aligns them to the left */
  }
}
