.background-image {
  height: 800px;
  width: 100vw;
  position: absolute;
}

.movie-card {
  height: 800px;
  width: 100vw;
  position: relative;
  margin-top: -95px;
}

.movie-card .overlap-group {
  background-image: url(./image.png);
  background-size: 100% 100%;
  height: 704px;
  z-index: 1;
}

.movie-card .div {
  align-items: center;
  display: inline-flex;
  /* gap: 128px; */
  left: 64px;
  position: relative;
  top: 90px;
}

.movie-card .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  max-width: 60%;
}

.movie-card .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  position: relative;
}

.movie-card .div-3 .back-button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.movie-card .vuesax-linear-arrow {
  height: 64px !important;
  position: relative !important;
  width: 64px !important;
}

.movie-card .text-wrapper {
  color: #f5f5f5;
  font-family: "Gotham SSm-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.movie-card .text-wrapper-2 {
  color: #f5f5f5;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 64px;
  position: relative;
  text-align: flex-start;
  white-space: wrap;
  max-width: 100%;
}

.movie-card .release-data-text {
  color: #f5f5f5;
  font-family: "Gotham SSm-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.movie-card .text-wrapper-3 {
  color: #f5f5f5;
  font-family: "Gotham SSm-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  margin-left: 16px;
}

.movie-card .div-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.movie-card .div-wrapper {
  align-items: center;
  border: 1px solid;
  border-color: #b0b0b0;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
}

.movie-card .text-wrapper-4 {
  color: #b0b0b0;
  font-family: "Gotham SSm-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 12px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.movie-card .div-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.movie-card .image {
  height: 24.34px;
  object-fit: cover;
  position: relative;
  width: 24px;
}

.movie-card .text-wrapper-5 {
  color: #f5f5f5;
  font-family: "Gotham SSm-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 12px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.movie-card .img {
  height: 18.1px;
  object-fit: cover;
  position: relative;
  width: 35.89px;
}

.movie-card .text-wrapper-6 {
  color: #f5f5f5;
  font-family: "Gotham SSm-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.movie-card .text-wrapper-7 {
  color: #b0b0b0;
  font-family: "Gotham SSm-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 12px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.movie-card .button {
  all: unset;
  align-items: center;
  background-color: #a7cdf5;
  border-radius: 56px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
}

.movie-card .text-wrapper-8 {
  color: #f5f5f5;
  font-family: "Gotham SSm-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.movie-card .icon-instance {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.movie-card .vuesax-linear-heart {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.movie-card .poster-image-container {
  width: 500px;
  height: 580px;
  margin-left: 100px;
  margin-top: 50px;
  /* background-color: red; */
}

.movie-card .poster-image-container .poster-image {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  border: 3px solid #a7cdf5;
}

.footer-container {
  margin-top: 50px;
}
