.star-container {
  display: flex;
  align-items: center; 
}

.moviepage-star {
  font-size: 3em;
  cursor: pointer;
  transition:
    color 0.3s,
    transform 0.3s;
  -webkit-text-stroke-width: 1px;
  transform-origin: top left;
  width: fit-content;

}

.star-outline {
  color: transparent;
  -webkit-text-stroke-color: gray;
  -webkit-text-stroke-width: 3px;
}

.star-outline:hover {
  transform: scale(1.05);
}

.star-filled {
  color: rgb(255, 187, 0);
}

.styled-movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 24px;
  background-color: #d1e8e2;
}

@media (min-width: 940px) {
  .styled-movie-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.title {
  padding: 10px;
}

.styled-poster {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  border-radius: 24px;
  padding: 10px;
  margin: 0;
}

.styled-info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.styled-info-box {
  border: 2px solid #B0BEC5;
  padding: 16px;
  border-radius: 16px;
  width: 45%;
}

@media (max-width: 768px) {
  .styled-info-box {
    width: 90%;
  }
}

.arrow-back-button {
  position: absolute;
  top: 7%;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.arrow-back-button::before {
  content: '⇦';
  font-size: 36px;
}

@media (max-width: 768px) {
  .arrow-back-button {
    top: 9%;
  }
}
  
