.MovieContainerGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* This sets the minimum width for each container to be 300px and lets them fill the available space equally */
  justify-content: center;
  justify-items: center;
  padding-top: 5rem;
  row-gap: 2rem; /* Increased gap between rows */
  column-gap: 1.5rem; /* Gap between columns */
  max-width: 100%; /* Adjust this value if you want a different maximum width for the entire grid */
  padding-left: 9%;
  padding-right: 9%;
}

.star {
  position: relative;
  bottom: 16%;
  left: 79%;
  font-size: 3em;
  cursor: pointer;
  transition:
    color 0.3s,
    transform 0.3s;
  -webkit-text-stroke-width: 1px;
  transform-origin: top left;
}

.star-outline {
  color: transparent;
  -webkit-text-stroke-color: gray;
  -webkit-text-stroke-width: 3px;
}

.star-outline:hover {
  transform: scale(1.05);
}

.star-filled {
  color: rgb(255, 187, 0);
}

/* .star-filled:hover {
  transform: scale(1.2);
} */

/* Media query for screens that are too small to fit 3 MovieContainers in a row */
@media (max-width: 900px) {
  .MovieContainerGrid {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
  
  .star {
    font-size: 2em;
    bottom: 14%;
  }
}
